/* GLOBAL RESETS */
* {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

/*

TABLE OF CONTENTS

#GLOBAL RESET
#BASE TYPOGRAPHY
#BUTTONS
#MEDIA
    #RESPONSIVE IMAGEs
#LAYOUT
    #CONTAINER
    #MEDIA QUERIES
    #SEMANTIC GRID SYSTEM
#STRUCTURE
    #SITE-HEADER
    #SITE-NAV
    #MAIN
        #SECTIONS
    #SITE FOOTER

*/
/* BASE TEXT COLORS */
body {
  color: rgba(47, 48, 46, 0.8);
}

h1, h2, h3, h4, h5, h6 {
  color: rgba(47, 48, 46, 0.8);
}

/* BASE TEXT FONTS */
body {
  font-family: "ff-tisa-web-pro", Georgia, "Times New Roman", Times, serif;
}

h1, h2, h3, h4, h5, h6 {
  font-family: "brother-1816", Helvetica, Arial, sans-serif;
  font-weight: 700;
  font-style: normal;
  text-transform: uppercase;
}

/* BASE TYPOGRAPHY */
body {
  font-size: 100%;
  line-height: 1.4;
}

h1, h2, h3, h4, h5, h6, p {
  margin: 0 0 0.5em 0;
}

/* TRADITIONAL TYPOGRAPHIC SCALE */
h1 {
  font-size: 3em;
  line-height: 1;
}

h2 {
  font-size: 2.25em;
  line-height: 1.1;
}

h3 {
  font-size: 1.5em;
  line-height: 1.2;
}

/* LIMIT NUMBER OF CHARACTERS PER LINE */
p {
  max-width: 40em;
}

/* LINKS */
a {
  color: rgb(122, 102, 97);
}
a:hover {
  color: rgb(122, 102, 97);
}

/* HORIZONTAL LINE */
hr {
  border: 0;
  height: 3px;
  background-color: rgb(122, 102, 97);
  margin: 3em 0;
}

.home-hr {
  border: 0;
  height: 3px;
  background-color: rgb(122, 102, 97);
  margin: 0 0 2em 0;
}

/* SECTION HEADING */
.section-heading {
  font-size: 1em;
  font-family: "brother-1816", Helvetica, Arial, sans-serif;
  font-weight: normal;
  text-transform: uppercase;
  letter-spacing: 0.05em;
  margin: 3em 0;
}

.hide-visually {
  position: absolute;
  top: -9999px;
  left: -9999px;
}

/* BUTTONS */
.button {
  display: inline-block;
  background-color: transparent;
  border: 2px solid rgb(80, 107, 95);
  color: rgb(80, 107, 95);
  font-family: "brother-1816", Helvetica, Arial, sans-serif;
  text-transform: uppercase;
  text-decoration: none;
  padding: 0.7em 1em;
  border-radius: 5px;
  margin: 1em 0.5em 1em 0;
}
.button:hover {
  border: 2px solid rgb(80, 107, 95);
  color: rgb(241, 240, 243);
  background-color: rgb(80, 107, 95);
}

/* SERVICE */
.service-btn {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  padding: 0;
  max-width: 300px;
  list-style: none;
}
.service-btn li {
  border: 1px solid rgb(80, 107, 95);
  background-color: rgb(80, 107, 95);
  color: rgb(235, 201, 127);
  border-radius: 5em;
  margin: 0.2em;
  padding: 0.5em 1em;
  font-size: 0.8em;
}

.service-btn2 {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  padding: 0;
  max-width: 170px;
  list-style: none;
}
.service-btn2 li {
  border: 1px solid rgb(80, 107, 95);
  background-color: rgb(80, 107, 95);
  color: rgb(235, 201, 127);
  border-radius: 5em;
  padding: 0.5em 1em;
  font-size: 0.8em;
}

.service-btn2-long {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  margin-top: 1.3em;
  padding: 0;
  max-width: 225px;
  list-style: none;
}
.service-btn2-long li {
  border: 1px solid rgb(80, 107, 95);
  background-color: rgb(80, 107, 95);
  color: rgb(235, 201, 127);
  border-radius: 5em;
  padding: 0.5em 1em;
  font-size: 0.8em;
}

/* RESPONSIVE IMAGES */
img {
  max-width: 100%;
  height: auto;
}

/* RESET BODY */
body {
  margin: 0;
  background-color: rgb(241, 240, 243);
}

/* CONTAINER */
.home-container {
  margin: 0 auto;
  width: auto;
}

.container {
  margin: 0 auto;
  max-width: 1400px;
  padding: 0 1em;
}

.proj-container {
  margin: 0 auto;
  max-width: 500px;
  padding: 0 1em;
}

.footer-container {
  margin: 0 auto;
  max-width: 1200px;
  padding: 0 1em;
}

.project-container {
  margin: 0 auto;
  max-width: 1400px;
  padding: 0 1em;
}

/* MEDIA QUEIRES */
/* RESPONSIVE TYPOGRAPHY */
body {
  font-size: 87.5%;
}

@media (min-width: 768px) {
  body {
    font-size: 100%;
  }
}
@media (min-width: 1250px) {
  body {
    font-size: 112.5%;
  }
}
/* MEDIA QUERIES FOR LARGE SCREENS*/
@media (min-width: 768px) {
  /* HEADER */
  .site-header .logo,
.site-header-hero .logo {
    margin-top: 0;
  }

  /* HERO */
  .hero-home .connect-button {
    -webkit-box-pack: start !important;
        -ms-flex-pack: start !important;
            justify-content: flex-start !important;
  }
  .hero-home .scroll-down {
    display: -ms-grid;
    display: grid;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
  .hero-home .scroll-down .scroll-arrow {
    width: 12px;
    height: 12px;
    -webkit-transform: rotate(45deg);
            transform: rotate(45deg);
    border-right: 2px solid rgb(80, 107, 95);
    border-bottom: 2px solid rgb(80, 107, 95);
    -webkit-animation: arrow-wave 1s infinite;
            animation: arrow-wave 1s infinite;
    -webkit-animation-direction: alternate;
            animation-direction: alternate;
  }
  .hero-home .scroll-down .scroll-arrow:nth-child(1) {
    -webkit-animation-delay: 0.1s;
            animation-delay: 0.1s;
  }
  .hero-home .scroll-down .scroll-arrow:nth-child(2) {
    -webkit-animation-delay: 0.2s;
            animation-delay: 0.2s;
  }
  .hero-home .scroll-down .scroll-arrow:nth-child(3) {
    -webkit-animation-delay: 0.3s;
            animation-delay: 0.3s;
  }
  @-webkit-keyframes arrow-wave {
    0% {
      opacity: 0;
    }
    50% {
      opacity: 0.5;
    }
    100% {
      opacity: 1;
    }
  }
  @keyframes arrow-wave {
    0% {
      opacity: 0;
    }
    50% {
      opacity: 0.5;
    }
    100% {
      opacity: 1;
    }
  }

  /* SITE MAIN */
  .site-main .home-projsection {
    margin: 0;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    margin: 0 150px;
  }

  .introduction h1 {
    font-size: 3em !important;
  }

  .staggered {
    padding-top: 15em !important;
  }

  /* SITE MAIN SECTION */
  section-p {
    padding: 0 !important;
  }

  /* OTHER PROJECTS */
  .other-projsection {
    margin: 0 !important;
    display: -webkit-box !important;
    display: -ms-flexbox !important;
    display: flex !important;
    margin: 0 300px !important;
  }
  .other-projsection .other {
    max-width: 300px !important;
  }

  /* SITE FOOTER */
  .site-footer {
    height: 30vh !important;
  }
  .site-footer .container {
    display: -webkit-box !important;
    display: -ms-flexbox !important;
    display: flex !important;
    -webkit-box-orient: horizontal !important;
    -webkit-box-direction: normal !important;
        -ms-flex-direction: row !important;
            flex-direction: row !important;
    -webkit-box-pack: justify !important;
        -ms-flex-pack: justify !important;
            justify-content: space-between !important;
    width: 1400px;
    gap: 10%;
  }
  .site-footer .container .footer-logo {
    width: 300px !important;
  }
  .site-footer .site-nav {
    margin: 0 !important;
  }
  .site-footer .site-nav .social-links {
    width: 300px !important;
  }
  .site-footer .site-nav .social-links a {
    font-size: 1em !important;
  }
  .site-footer .reserved {
    height: 2vh;
  }
  .site-footer .reserved p {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-pack: distribute;
        justify-content: space-around;
    width: 200px;
    color: rgb(174, 148, 142);
    font-size: 0.6em;
  }

  /* SERVICE */
  .service-btn {
    max-width: 350px !important;
  }

  .service-btn2 {
    max-width: 195px !important;
  }

  .service-btn2-long {
    max-width: 270px !important;
  }
}
/* SEMANTIC GRID */
.row {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  margin-left: -1%;
  margin-right: -1%;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-bottom: 3em;
}
.row > * {
  margin: 1%;
  -webkit-box-flex: 1;
      -ms-flex-positive: 1;
          flex-grow: 1;
}
.row.centered {
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}
.row.swapped {
  -webkit-box-orient: horizontal;
  -webkit-box-direction: reverse;
      -ms-flex-direction: row-reverse;
          flex-direction: row-reverse;
}
.row.stacked {
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}
.row.align-top {
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
}
@media (min-width: 768px) {
  .row > * {
    -webkit-box-flex: 0;
        -ms-flex-positive: 0;
            flex-grow: 0;
  }
  .row .one-whole {
    width: 98%;
  }
  .row .one-half {
    width: 46%;
  }
  .row .one-third {
    width: 31.3333%;
  }
  .row .two-thirds {
    width: 64.6666%;
  }
  .row .one-fourth {
    width: 23%;
  }
  .row .three-fourths {
    width: 73%;
  }
  .row .push-one-fourth {
    margin-left: 26%;
  }
  .row .push-one-third {
    margin-left: 34.3333%;
  }
  .row .push-one-half {
    margin-left: 51%;
  }
  .row .centered {
    margin-left: auto;
    margin-right: auto;
  }
}

.demo .row {
  margin-bottom: 0;
}
.demo .row > * {
  background-color: rgba(0, 0, 0, 0.1);
  padding: 1%;
}

/* SITE STRUCUTURE */
.site-header,
.site-header-hero {
  position: absolute;
  width: 100%;
  padding: 1em;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
.site-header a,
.site-header-hero a {
  color: rgb(235, 201, 127);
  text-decoration: none;
}
.site-header h1,
.site-header-hero h1 {
  font-size: 1.5em;
  margin: 0;
}
.site-header .site-id,
.site-header-hero .site-id {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}
.site-header .logo,
.site-header-hero .logo {
  max-width: 40px;
  margin-top: 0.2em;
  margin-right: 0.5em;
  -webkit-transition: -webkit-transform 0.2s ease-in-out;
  transition: -webkit-transform 0.2s ease-in-out;
  transition: transform 0.2s ease-in-out;
  transition: transform 0.2s ease-in-out, -webkit-transform 0.2s ease-in-out;
}
.site-header .logo:hover,
.site-header-hero .logo:hover {
  -webkit-transform: scale(1.1);
          transform: scale(1.1);
  -webkit-transition: -webkit-transform 0.2s ease-in-out;
  transition: -webkit-transform 0.2s ease-in-out;
  transition: transform 0.2s ease-in-out;
  transition: transform 0.2s ease-in-out, -webkit-transform 0.2s ease-in-out;
}

/* HERO SECTION */
.hero {
  background-color: rgb(241, 240, 243);
  color: rgba(47, 48, 46, 0.8);
  text-align: center;
  padding: 6em 0;
  min-height: 100vh;
  display: -ms-grid;
  display: grid;
  place-items: center;
}
.hero h1 {
  color: rgba(47, 48, 46, 0.8);
  margin-bottom: 0.25em;
}
.hero p {
  margin: 1em auto;
}
.hero .hero-title svg {
  height: 500px;
  width: 500px;
}
.hero .home-container-amber {
  background-image: url("/img/AmberAyre_Hero.jpg");
  background-position: center;
  background-size: cover;
}

.project-section {
  top: 0;
  background-image: url("/img/AmberAyre/AmberAyre_Hero.svg");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

.project-hero-bg .project-hero,
.project-hero-bg .project-subhero {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.proj-scroll-down {
  position: absolute;
  left: 50%;
  display: -ms-grid;
  display: grid;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
.proj-scroll-down .scroll-arrow {
  width: 12px;
  height: 12px;
  -webkit-transform: rotate(45deg);
          transform: rotate(45deg);
  border-right: 2px solid rgb(80, 107, 95);
  border-bottom: 2px solid rgb(80, 107, 95);
  -webkit-animation: arrow-wave 1s infinite;
          animation: arrow-wave 1s infinite;
  -webkit-animation-direction: alternate;
          animation-direction: alternate;
}
.proj-scroll-down .scroll-arrow:nth-child(1) {
  -webkit-animation-delay: 0.1s;
          animation-delay: 0.1s;
}
.proj-scroll-down .scroll-arrow:nth-child(2) {
  -webkit-animation-delay: 0.2s;
          animation-delay: 0.2s;
}
.proj-scroll-down .scroll-arrow:nth-child(3) {
  -webkit-animation-delay: 0.3s;
          animation-delay: 0.3s;
}
@-webkit-keyframes arrow-wave {
  0% {
    opacity: 0;
  }
  50% {
    opacity: 0.5;
  }
  100% {
    opacity: 1;
  }
}
@keyframes arrow-wave {
  0% {
    opacity: 0;
  }
  50% {
    opacity: 0.5;
  }
  100% {
    opacity: 1;
  }
}

/* SITE MAIN */
.site-main {
  background-color: rgb(241, 240, 243);
}
.site-main .hero-home {
  margin: 0 1em 0 1em;
}
.site-main .hero-home .row {
  margin-bottom: 0;
}
.site-main .hero-home .character {
  margin-top: 3em;
}
.site-main .hero-home .introduction {
  margin-bottom: 2em;
}
.site-main .hero-home .introduction h1 {
  font-size: 2em;
}
.site-main .hero-home .connect-button {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

/* PROJECT INFORMATION */
.project-container .proj-info {
  margin: 4em 0 2em 0;
}
.project-container hr {
  margin: 2em 0 1em 0;
  width: 20px;
}
.project-container .project-stats {
  margin: 0;
}
.project-container .project-stats .status {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}
.project-container .project-stats .status h6 {
  margin-right: 1em;
  opacity: 0.5;
  text-transform: uppercase;
  font-size: 0.75em;
}

/* OTHER PROJECTS */
.other-projsection .other {
  margin: 2em 0;
  max-width: 250px;
}
.other-projsection .other h3 {
  font-size: 1.2em;
}

.staggered {
  padding-top: 4em;
  margin-bottom: 4em;
}

.summary {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  text-align: center;
  background-color: rgb(80, 107, 95);
  height: 50vh;
}
.summary .summary-container h1 {
  color: rgb(235, 201, 127);
}
.summary .summary-container p {
  color: rgb(235, 201, 127);
  margin: 1em;
}

.brand-collection {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  text-align: center;
}
.brand-collection .row .one-third .brand-textbox {
  max-width: 50px;
}

/* PROJECT FOOTER NAV */
.CTA {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  height: 5vh;
  padding: 0;
  padding: 1em 0;
}
.CTA li {
  font-family: "brother-1816", Helvetica, Arial, sans-serif;
  list-style: none;
}
.CTA li a {
  padding: 0 3em 0 3em;
  text-decoration: none;
  color: rgba(47, 48, 46, 0.8);
  letter-spacing: 0.1em;
  font-size: 0.69em;
  font-weight: 700;
  text-transform: uppercase;
}
.CTA li a:hover {
  color: rgb(122, 102, 97);
}

/* SITE FOOTER */
.site-footer {
  background-color: rgb(122, 102, 97);
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  padding: 1em;
  height: 50vh;
}
.site-footer .container {
  display: -ms-grid;
  display: grid;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 2em 0;
}
.site-footer .footer-logo {
  text-align: center;
  width: 300px;
}
.site-footer .footer-logo img {
  height: 110px;
}
.site-footer .footer-logo h3 {
  color: rgb(241, 240, 243);
  margin: 0.5em 0 0 0;
}
.site-footer .footer-logo h5 {
  color: rgb(241, 240, 243);
}
.site-footer .site-nav {
  margin: 4em 0 2em 0;
}
.site-footer .site-nav h5 {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  text-align: center;
  color: rgb(241, 240, 243);
}
.site-footer .site-nav .social-links {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  margin: 0;
  height: 40px;
}
.site-footer .site-nav .social-links a {
  color: rgb(235, 201, 127);
  font-size: 1.4em;
  text-decoration: none;
  height: 40px;
}
.site-footer .site-nav .social-links a:hover {
  color: rgb(241, 240, 243);
}
.site-footer .reserved {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  margin-top: 5em;
}
.site-footer .reserved p {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  width: 200px;
  color: rgb(174, 148, 142);
  font-size: 0.6em;
}

/* SECTIONS */
.work-section h1 {
  font-size: 6em;
  position: absolute;
  top: 850px;
  right: -80px;
  -webkit-transform: rotate(-90deg);
          transform: rotate(-90deg);
}
.work-section hr {
  height: 0.8px;
  margin: 0;
}

section-xs {
  padding: 1em 0;
  min-height: 2vh;
  display: -ms-grid;
  display: grid;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

section-s {
  padding: 4em 0;
  min-height: 40vh;
  display: -ms-grid;
  display: grid;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

section-m {
  padding: 4em 0;
  min-height: 80vh;
  display: -ms-grid;
  display: grid;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

section {
  padding: 4em 0;
  min-height: 90vh;
  display: -ms-grid;
  display: grid;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

section-p {
  padding: 2em 0;
  min-height: 90vh;
  display: -ms-grid;
  display: grid;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

/* SITE-HEADER SITE-NAV */
.site-header .site-nav {
  /* BIG SCREENS */
}
.site-header .site-nav .menu-button {
  position: absolute;
  top: 1.5em;
  right: 0.75em;
  color: rgba(47, 48, 46, 0.8);
  margin: 0;
  font-size: 1.5em;
  line-height: 1;
  -webkit-transform: center;
          transform: center;
  z-index: 20;
  cursor: pointer;
}
.site-header .site-nav .menu-button svg {
  fill: rgb(122, 102, 97);
}
.site-header .site-nav .menu-button svg rect {
  -webkit-transition: 0.3s all ease-out;
  transition: 0.3s all ease-out;
}
.site-header .site-nav ul {
  margin: 0;
  padding: 0;
  list-style: none;
  background-color: rgb(235, 201, 127);
  position: fixed;
  top: 0;
  right: 0;
  width: 100%;
  height: 100vh;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-transform: translate(100%, 0);
          transform: translate(100%, 0);
  -webkit-transition: 0.3s all ease-out;
  transition: 0.3s all ease-out;
  z-index: 1;
}
.site-header .site-nav li {
  margin: 1em 0;
  text-transform: uppercase;
  font-weight: 600;
  font-size: 4vw;
  min-width: 20vw;
  -webkit-transform: translate(10%, 0);
          transform: translate(10%, 0);
  -webkit-transition: 0.3s all ease-out 0.3s;
  transition: 0.3s all ease-out 0.3s;
  opacity: 0;
  letter-spacing: 0.2em;
}
.site-header .site-nav li a {
  color: rgb(122, 102, 97);
  font-size: 2.3em;
}
.site-header .site-nav li a:hover {
  color: rgb(235, 201, 127);
}
.site-header .site-nav[data-navstate=open] .menu-button {
  position: fixed;
}
.site-header .site-nav[data-navstate=open] #menubar-top {
  -webkit-transform-origin: center;
          transform-origin: center;
  -webkit-transform: translate(7px, 7px) rotate(-45deg);
          transform: translate(7px, 7px) rotate(-45deg);
}
.site-header .site-nav[data-navstate=open] #menubar-middle {
  opacity: 0;
}
.site-header .site-nav[data-navstate=open] #menubar-bottom {
  -webkit-transform-origin: center;
          transform-origin: center;
  -webkit-transform: translate(0, -4px) rotate(45deg);
          transform: translate(0, -4px) rotate(45deg);
}
.site-header .site-nav[data-navstate=open] ul {
  -webkit-transform: translate(0, 0);
          transform: translate(0, 0);
}
.site-header .site-nav[data-navstate=open] li {
  -webkit-transform: translate(0, 0);
          transform: translate(0, 0);
  opacity: 1;
}
@media (min-width: 768px) {
  .site-header .site-nav .menu-button {
    position: absolute;
    top: -9999px;
    left: -9999px;
  }
  .site-header .site-nav ul {
    background-color: transparent;
    -webkit-transform: translate(0, 0);
            transform: translate(0, 0);
    position: static;
    width: auto;
    height: auto;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    -webkit-transition: none;
    transition: none;
  }
  .site-header .site-nav li {
    max-width: 40vw;
    opacity: 1;
    -webkit-transform: translate(0, 0);
            transform: translate(0, 0);
    font-size: 0.3em;
    min-width: 0;
    margin: 0 1em 0 6em;
  }
  .site-header .site-nav li a {
    color: rgb(122, 102, 97);
    font-family: "brother-1816", Helvetica, Arial, sans-serif;
  }
  .site-header .site-nav li a:hover {
    color: rgb(122, 102, 97);
  }
}

/* FOOTER SITE-NAV */
.site-footer .site-nav ul {
  margin: 0;
  padding: 0;
  list-style: none;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}
.site-footer .site-nav a {
  display: inline-block;
  padding: 1em;
  line-height: 1;
}

/* ANIMATION */
.hero .container *,
.hero[data-sectionstate=inactive] .container * {
  -webkit-transition: all 1s ease-out;
  transition: all 1s ease-out;
  opacity: 0;
  -webkit-transform: translate(0, -20px);
          transform: translate(0, -20px);
}
.hero .container *:nth-child(1),
.hero[data-sectionstate=inactive] .container *:nth-child(1) {
  -webkit-transition-delay: 0.2s;
          transition-delay: 0.2s;
}
.hero .container *:nth-child(2),
.hero[data-sectionstate=inactive] .container *:nth-child(2) {
  -webkit-transition-delay: 0.4s;
          transition-delay: 0.4s;
}
.hero .container *:nth-child(3),
.hero[data-sectionstate=inactive] .container *:nth-child(3) {
  -webkit-transition-delay: 0.6s;
          transition-delay: 0.6s;
}
.hero .container *:nth-child(4),
.hero[data-sectionstate=inactive] .container *:nth-child(4) {
  -webkit-transition-delay: 0.8s;
          transition-delay: 0.8s;
}
.hero .container *:nth-child(5),
.hero[data-sectionstate=inactive] .container *:nth-child(5) {
  -webkit-transition-delay: 1s;
          transition-delay: 1s;
}
.hero[data-sectionstate=active] .container *,
.hero[data-sectionstate=inactive][data-sectionstate=active] .container * {
  opacity: 1;
  -webkit-transform: translate(0, 0);
          transform: translate(0, 0);
}

.animate-scale-in,
[data-sectionstate=inactive] .animate-scale-in {
  -webkit-transition: all 1s ease-out;
  transition: all 1s ease-out;
  opacity: 0;
  -webkit-transform: scale(0.8);
          transform: scale(0.8);
}

[data-sectionstate=active] .animate-scale-in {
  opacity: 1;
  -webkit-transform: scale(1);
          transform: scale(1);
}

.animate-slide-up,
[data-sectionstate=inactive] .animate-slide-up {
  -webkit-transition: all 1s ease-out;
  transition: all 1s ease-out;
  opacity: 0;
  -webkit-transform: translate(0, 20px);
          transform: translate(0, 20px);
}
.animate-slide-up:nth-child(1),
[data-sectionstate=inactive] .animate-slide-up:nth-child(1) {
  -webkit-transition-delay: 0.2s;
          transition-delay: 0.2s;
}
.animate-slide-up:nth-child(2),
[data-sectionstate=inactive] .animate-slide-up:nth-child(2) {
  -webkit-transition-delay: 0.4s;
          transition-delay: 0.4s;
}
.animate-slide-up:nth-child(3),
[data-sectionstate=inactive] .animate-slide-up:nth-child(3) {
  -webkit-transition-delay: 0.6s;
          transition-delay: 0.6s;
}

[data-sectionstate=active] .animate-slide-up {
  opacity: 1;
  -webkit-transform: translate(0, 0);
          transform: translate(0, 0);
}

.animate-drop-in-with-delay *,
[data-sectionstate=inactive] .animate-drop-in-with-delay * {
  -webkit-transition: all 1s ease-out;
  transition: all 1s ease-out;
  opacity: 0;
  -webkit-transform: translate(0, -20px);
          transform: translate(0, -20px);
}
.animate-drop-in-with-delay *:nth-child(1),
[data-sectionstate=inactive] .animate-drop-in-with-delay *:nth-child(1) {
  -webkit-transition-delay: 0.2s;
          transition-delay: 0.2s;
}
.animate-drop-in-with-delay *:nth-child(2),
[data-sectionstate=inactive] .animate-drop-in-with-delay *:nth-child(2) {
  -webkit-transition-delay: 0.4s;
          transition-delay: 0.4s;
}
.animate-drop-in-with-delay *:nth-child(3),
[data-sectionstate=inactive] .animate-drop-in-with-delay *:nth-child(3) {
  -webkit-transition-delay: 0.6s;
          transition-delay: 0.6s;
}
.animate-drop-in-with-delay *:nth-child(4),
[data-sectionstate=inactive] .animate-drop-in-with-delay *:nth-child(4) {
  -webkit-transition-delay: 0.8s;
          transition-delay: 0.8s;
}
.animate-drop-in-with-delay *:nth-child(5),
[data-sectionstate=inactive] .animate-drop-in-with-delay *:nth-child(5) {
  -webkit-transition-delay: 1s;
          transition-delay: 1s;
}

[data-sectionstate=active] .animate-drop-in-with-delay * {
  opacity: 1;
  -webkit-transform: translate(0, 0);
          transform: translate(0, 0);
}

#first,
[data-sectionstate=inactive] #left {
  -webkit-animation: left-stroke 1s ease-in-out;
          animation: left-stroke 1s ease-in-out;
}

@-webkit-keyframes left-stroke {
  from {
    -webkit-transform: translate(0, 100px);
            transform: translate(0, 100px);
  }
  to {
    -webkit-transform: translateY(0);
            transform: translateY(0);
  }
}

@keyframes left-stroke {
  from {
    -webkit-transform: translate(0, 100px);
            transform: translate(0, 100px);
  }
  to {
    -webkit-transform: translateY(0);
            transform: translateY(0);
  }
}

#second,
[data-sectionstate=inactive] #middle {
  -webkit-animation: middle-stroke 1.2s ease-in-out;
          animation: middle-stroke 1.2s ease-in-out;
}

@-webkit-keyframes middle-stroke {
  from {
    -webkit-transform: translate(0, 100px);
            transform: translate(0, 100px);
  }
  to {
    -webkit-transform: translateY(0);
            transform: translateY(0);
  }
}

@keyframes middle-stroke {
  from {
    -webkit-transform: translate(0, 100px);
            transform: translate(0, 100px);
  }
  to {
    -webkit-transform: translateY(0);
            transform: translateY(0);
  }
}

#third,
[data-sectionstate=inactive] #right {
  -webkit-animation: right-stroke 1.4s ease-in-out;
          animation: right-stroke 1.4s ease-in-out;
}

@-webkit-keyframes right-stroke {
  from {
    -webkit-transform: translate(0, 100px);
            transform: translate(0, 100px);
  }
  to {
    -webkit-transform: translateY(0);
            transform: translateY(0);
  }
}

@keyframes right-stroke {
  from {
    -webkit-transform: translate(0, 100px);
            transform: translate(0, 100px);
  }
  to {
    -webkit-transform: translateY(0);
            transform: translateY(0);
  }
}

#fourth,
[data-sectionstate=inactive] #left {
  -webkit-animation: left-stroke 1.6s ease-in-out;
          animation: left-stroke 1.6s ease-in-out;
}

@keyframes left-stroke {
  from {
    -webkit-transform: translate(0, 100px);
            transform: translate(0, 100px);
  }
  to {
    -webkit-transform: translateY(0);
            transform: translateY(0);
  }
}

#fifth,
[data-sectionstate=inactive] #middle {
  -webkit-animation: middle-stroke 1.8s ease-in-out;
          animation: middle-stroke 1.8s ease-in-out;
}

@keyframes middle-stroke {
  from {
    -webkit-transform: translate(0, 100px);
            transform: translate(0, 100px);
  }
  to {
    -webkit-transform: translateY(0);
            transform: translateY(0);
  }
}

#sixth,
[data-sectionstate=inactive] #right {
  -webkit-animation: right-stroke 2s ease-in-out;
          animation: right-stroke 2s ease-in-out;
}

@keyframes right-stroke {
  from {
    -webkit-transform: translate(0, 100px);
            transform: translate(0, 100px);
  }
  to {
    -webkit-transform: translateY(0);
            transform: translateY(0);
  }
}

/* KEEP SCROLLING ANIMATION */
.continue-scroll {
  position: absolute;
  top: 90%;
  left: 50%;
  display: -ms-grid;
  display: grid;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  height: 5vh;
}
.continue-scroll .box span {
  width: 15px;
  height: 15px;
  display: block;
  border-right: 2px solid rgb(80, 107, 95);
  border-bottom: 2px solid rgb(80, 107, 95);
  -webkit-transform: rotate(45deg);
          transform: rotate(45deg);
  margin: -5px;
  -webkit-animation: animate 2s infinite;
          animation: animate 2s infinite;
}
.continue-scroll .box span:nth-child(2) {
  -webkit-animation-delay: -0.2s;
          animation-delay: -0.2s;
}
.continue-scroll .box span:nth-child(3) {
  -webkit-animation-delay: -0.4s;
          animation-delay: -0.4s;
}
@-webkit-keyframes animate {
  0% {
    opacity: 0;
  }
  50% {
    opacity: 1;
    -webkit-transform: rotate(45deg) translate(10px, 10px);
            transform: rotate(45deg) translate(10px, 10px);
  }
  100% {
    opacity: 0;
  }
}
@keyframes animate {
  0% {
    opacity: 0;
  }
  50% {
    opacity: 1;
    -webkit-transform: rotate(45deg) translate(10px, 10px);
            transform: rotate(45deg) translate(10px, 10px);
  }
  100% {
    opacity: 0;
  }
}

/* FLOATING IMAGE */
@-webkit-keyframes float {
  0% {
    -webkit-transform: translatey(0px);
            transform: translatey(0px);
  }
  50% {
    -webkit-transform: translatey(-20px);
            transform: translatey(-20px);
  }
  100% {
    -webkit-transform: translatey(0px);
            transform: translatey(0px);
  }
}
@keyframes float {
  0% {
    -webkit-transform: translatey(0px);
            transform: translatey(0px);
  }
  50% {
    -webkit-transform: translatey(-20px);
            transform: translatey(-20px);
  }
  100% {
    -webkit-transform: translatey(0px);
            transform: translatey(0px);
  }
}
.avatar {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  overflow: hidden;
  -webkit-transform: translatey(0px);
          transform: translatey(0px);
  -webkit-animation: float 6s ease-in-out infinite;
          animation: float 6s ease-in-out infinite;
}
.avatar img {
  width: 100%;
  height: auto;
}

/* SCROLL ANIMATIONS */
.inline-photo-right {
  opacity: 0;
  -webkit-transform: translate(20px, 0);
          transform: translate(20px, 0);
  -webkit-transition: opacity 0.3s 0.25s ease-out, -webkit-transform 2s;
  transition: opacity 0.3s 0.25s ease-out, -webkit-transform 2s;
  transition: transform 2s, opacity 0.3s 0.25s ease-out;
  transition: transform 2s, opacity 0.3s 0.25s ease-out, -webkit-transform 2s;
  width: 100%;
  will-change: transform, opacity;
}

.inline-photo-right.is-visible {
  opacity: 1;
  -webkit-transform: translate(0, 0);
          transform: translate(0, 0);
}

.inline-photo-left {
  opacity: 0;
  -webkit-transform: translate(-20px, 0);
          transform: translate(-20px, 0);
  -webkit-transition: opacity 0.3s 0.25s ease-out, -webkit-transform 2s;
  transition: opacity 0.3s 0.25s ease-out, -webkit-transform 2s;
  transition: transform 2s, opacity 0.3s 0.25s ease-out;
  transition: transform 2s, opacity 0.3s 0.25s ease-out, -webkit-transform 2s;
  width: 100%;
  will-change: transform, opacity;
}

.inline-photo-left.is-visible {
  opacity: 1;
  -webkit-transform: translate(0, 0);
          transform: translate(0, 0);
}

.inline-photo-center {
  opacity: 0;
  -webkit-transform: scale(0.8);
          transform: scale(0.8);
  -webkit-transition: opacity 0.3s 0.25s ease-out, -webkit-transform 2s;
  transition: opacity 0.3s 0.25s ease-out, -webkit-transform 2s;
  transition: transform 2s, opacity 0.3s 0.25s ease-out;
  transition: transform 2s, opacity 0.3s 0.25s ease-out, -webkit-transform 2s;
  width: 100%;
  will-change: transform, opacity;
}

.inline-photo-center.is-visible {
  opacity: 1;
  -webkit-transform: scale(1);
          transform: scale(1);
}

.inline-photo-above {
  opacity: 0;
  -webkit-transform: translate(0, 20px);
          transform: translate(0, 20px);
  -webkit-transition: opacity 0.3s 0.25s ease-out, -webkit-transform 2s;
  transition: opacity 0.3s 0.25s ease-out, -webkit-transform 2s;
  transition: transform 2s, opacity 0.3s 0.25s ease-out;
  transition: transform 2s, opacity 0.3s 0.25s ease-out, -webkit-transform 2s;
  width: 100%;
  will-change: transform, opacity;
  -webkit-transition: all 1s ease-out;
  transition: all 1s ease-out;
}

.inline-photo-above.is-visible {
  opacity: 1;
  -webkit-transform: translate(0, 0);
          transform: translate(0, 0);
}

.inline-photo-above-p {
  opacity: 0;
  -webkit-transform: translate(0, 20px);
          transform: translate(0, 20px);
  -webkit-transition: opacity 0.3s 0.25s ease-out, -webkit-transform 2s;
  transition: opacity 0.3s 0.25s ease-out, -webkit-transform 2s;
  transition: transform 2s, opacity 0.3s 0.25s ease-out;
  transition: transform 2s, opacity 0.3s 0.25s ease-out, -webkit-transform 2s;
  width: 100%;
  will-change: transform, opacity;
  -webkit-transition: all 1s ease-out;
  transition: all 1s ease-out;
}

.inline-photo-above-p.is-visible {
  opacity: 1;
  -webkit-transform: translate(0, 0);
          transform: translate(0, 0);
  -webkit-transition-delay: 0.8s;
          transition-delay: 0.8s;
}

.inline-photo-below {
  opacity: 0;
  -webkit-transform: translate(0, -20px);
          transform: translate(0, -20px);
  -webkit-transition: opacity 0.3s 0.25s ease-out, -webkit-transform 2s;
  transition: opacity 0.3s 0.25s ease-out, -webkit-transform 2s;
  transition: transform 2s, opacity 0.3s 0.25s ease-out;
  transition: transform 2s, opacity 0.3s 0.25s ease-out, -webkit-transform 2s;
  width: 100%;
  will-change: transform, opacity;
  -webkit-transition: all 1s ease-out;
  transition: all 1s ease-out;
}

.inline-photo-below.is-visible {
  opacity: 1;
  -webkit-transform: translate(0, 0);
          transform: translate(0, 0);
}

.inline-photo-above2 {
  opacity: 0;
  -webkit-transform: translate(0, -50px);
          transform: translate(0, -50px);
  -webkit-transition: opacity 0.3s 0.25s ease-out, -webkit-transform 2s;
  transition: opacity 0.3s 0.25s ease-out, -webkit-transform 2s;
  transition: transform 2s, opacity 0.3s 0.25s ease-out;
  transition: transform 2s, opacity 0.3s 0.25s ease-out, -webkit-transform 2s;
  width: 100%;
  will-change: transform, opacity;
}

.inline-photo-above2.is-visible {
  opacity: 1;
  -webkit-transform: translate(0, 0);
          transform: translate(0, 0);
}

/* IMAGE HOVER */
.img-hover {
  -webkit-transform: scale(1);
          transform: scale(1);
  -webkit-transition: ease-in-out 0.3s;
  transition: ease-in-out 0.3s;
}
.img-hover img {
  border-radius: 1em;
}
.img-hover:hover {
  -webkit-transform: scale(0.96);
          transform: scale(0.96);
  -webkit-transition: ease-in-out 0.3s;
  transition: ease-in-out 0.3s;
}