/* GLOBAL RESETS */
* {box-sizing: border-box;}

// VARIABLES
$color-text-body: rgba(47, 48, 46, 0.8);
$color-text-headings: rgba(47, 48, 46, 1);
$color-dark-brown: rgba(94, 78, 74, 1);
$color-light-brown:  rgb(140, 95, 79, 1);
$color-gold: rgba(218, 198, 141, 1);
$color-white: rgba(241, 240, 243, 1);

$color-lightgrey: rgba(0, 0, 0, .5);

$font-family-sans: 'brother-1816', Helvetica, Arial, sans-serif;
$font-family-serif: 'ff-tisa-web-pro', Georgia, 'Times New Roman', Times, serif;

// BREAKPOINTS
$breakpoint-small: 768px;
$breakpoint-medium: 1050px;
$breakpoint-large: 1250px;

// IMPORTS
@import "partials/toc";
@import "partials/typography"; 
@import "partials/helpers";
@import "partials/buttons";
@import "partials/media";  
@import "partials/layout";   
@import "partials/grid"; 
@import "partials/structure"; 
@import "partials/sitenav";   
@import "partials/animations";  


