/* GLOBAL RESETS */
* {box-sizing: border-box;}


// VARIABLES
$color-orange: rgba(203, 86, 44, 1);
$color-yellow: rgba(228, 163, 78, 1);
$color-gray: rgba(86, 86, 78, 1);
$color-creme: rgba(224, 216, 199, 1);

$font-family-sans-headers: 'itc-avant-garde-gothic-pro', sans-serif;
$font-family-sans-body: 'cambay', sans-serif;
$font-family-tertiary-regular: 'pentz-regular', serif;
$font-family-tertiary-classic: 'pentz-classic', serif;

// BREAKPOINTS
$breakpoint-small: 768px;
$breakpoint-medium: 1050px;
$breakpoint-large: 1250px;

// IMPORTS
@import "partials/toc";
@import "partials/typography"; 
@import "partials/helpers";
@import "partials/buttons";
@import "partials/media";  
@import "partials/layout";   
@import "partials/grid"; 
@import "partials/structure"; 
@import "partials/sitenav";   
@import "partials/animations";  


