/* GLOBAL RESETS */
* {box-sizing: border-box;}

// VARIABLES
$color-text-body: rgba(47, 48, 46, 0.8);
$color-text-headings: rgba(47, 48, 46, 1);
$color-dark-brown: rgba(63, 51, 48, 1);
$color-light-brown:  rgb(122, 102, 97, 1);
$color-lighter-brown:  rgb(145, 95, 77, 1);
$color-lightest-brown:  rgb(180, 118, 101, 1);
$color-gold: rgba(255, 237, 189, 1);
$color-white: rgba(241, 240, 243, 1);

$font-family-sans: 'brother-1816', Helvetica, Arial, sans-serif;
$font-family-serif: 'ff-tisa-web-pro', Georgia, 'Times New Roman', Times, serif;

// BREAKPOINTS
$breakpoint-small: 768px;
$breakpoint-medium: 1050px;
$breakpoint-large: 1250px;

// IMPORTS
@import "partials/toc";
@import "partials/typography"; 
@import "partials/helpers";
@import "partials/buttons";
@import "partials/media";  
@import "partials/layout";   
@import "partials/grid"; 
@import "partials/structure"; 
@import "partials/sitenav";   
@import "partials/animations";  


