/* ANIMATION */ 

// SCROLL TRIGGER ANIMATION
.hero,
.hero[data-sectionstate="inactive"] {
    .container * {
        transition: all 1s ease-out;
        opacity: 0;
        transform: translate(0, -20px);
        &:nth-child(1) {transition-delay: .2s;}
        &:nth-child(2) {transition-delay: .4s;}
        &:nth-child(3) {transition-delay: .6s;}
        &:nth-child(4) {transition-delay: .8s;}
        &:nth-child(5) {transition-delay: 1s;}
    }


    &[data-sectionstate="active"] {
        .container * {
            opacity: 1;
            transform: translate(0, 0);
        }
    }
}


// UTILITY / HELPER CLASSES FOR ANIMATION
// SCALE-IN
.animate-scale-in,
[data-sectionstate="inactive"] .animate-scale-in {
    transition: all 1s ease-out;
    opacity: 0;
    transform: scale(.8);
}

[data-sectionstate="active"] .animate-scale-in {
    opacity: 1;
    transform: scale(1);
}

// SLIDE-UP
.animate-slide-up,
[data-sectionstate="inactive"] .animate-slide-up {
    transition: all 1s ease-out;
    opacity: 0;
    transform: translate( 0, 20px );
    &:nth-child(1) {transition-delay: .2s;}
    &:nth-child(2) {transition-delay: .4s;}
    &:nth-child(3) {transition-delay: .6s;}
}

[data-sectionstate="active"] .animate-slide-up {
    opacity: 1;
    transform: translate(0,0);
}

// DROP IN CHILDREN WITH DELAY
.animate-drop-in-with-delay,
[data-sectionstate="inactive"] .animate-drop-in-with-delay {
    * {
        transition: all 1s ease-out;
        opacity: 0;
        transform: translate(0, -20px);
        &:nth-child(1) {transition-delay: .2s;}
        &:nth-child(2) {transition-delay: .4s;}
        &:nth-child(3) {transition-delay: .6s;}
        &:nth-child(4) {transition-delay: .8s;}
        &:nth-child(5) {transition-delay: 1s;}
    }
}

[data-sectionstate="active"] .animate-drop-in-with-delay {
    * {
         opacity: 1;
         transform: translate(0, 0);
     }
 }

// ANIMATE HERO TEXT
#first,
[data-sectionstate="inactive"] #left {
    animation: left-stroke 1s ease-in-out;
}  


[data-sectionstate="active"] #left {
    @keyframes left-stroke {
        from {
            transform: translate( 0, 100px );
        }

        to {
            transform: translateY(0);
        }
    }
}

#second,
[data-sectionstate="inactive"] #middle {
    animation: middle-stroke 1.2s ease-in-out;
}  

[data-sectionstate="active"] #middle {
    @keyframes middle-stroke {
        from {
            transform: translate( 0, 100px );
        }

        to {
            transform: translateY(0);
        }
    }
}

#third,
[data-sectionstate="inactive"] #right {
    animation: right-stroke 1.4s ease-in-out;
}  

[data-sectionstate="active"] #right {
    @keyframes right-stroke {
        from {
            transform: translate( 0, 100px );
        }

        to {
            transform: translateY(0);
        }
    }
}

#fourth,
[data-sectionstate="inactive"] #left {
    animation: left-stroke 1.6s ease-in-out;
}  


[data-sectionstate="active"] #left {
    @keyframes left-stroke {
        from {
            transform: translate( 0, 100px );
        }

        to {
            transform: translateY(0);
        }
    }
}

#fifth,
[data-sectionstate="inactive"] #middle {
    animation: middle-stroke 1.8s ease-in-out;
}  

[data-sectionstate="active"] #middle {
    @keyframes middle-stroke {
        from {
            transform: translate( 0, 100px );
        }

        to {
            transform: translateY(0);
        }
    }
}

#sixth,
[data-sectionstate="inactive"] #right {
    animation: right-stroke 2s ease-in-out;
}  

[data-sectionstate="active"] #right {
    @keyframes right-stroke {
        from {
            transform: translate( 0, 100px );
        }

        to {
            transform: translateY(0);
        }
    }
}

/* KEEP SCROLLING ANIMATION */ 
.continue-scroll {
    position: absolute;
    top: 90%;
    left: 50%;
    display: grid;
    justify-content: center;
    height: 5vh;

    .box span {
        width: 15px;
        height: 15px;
        display: block;
        border-right: 2px solid $color-orange;
        border-bottom: 2px solid $color-orange;
        transform: rotate(45deg);
        margin: -5px;
        animation: animate 2s infinite;
    }
    
    .box span:nth-child(2) {
        animation-delay: -0.2s;
    }
    
    .box span:nth-child(3) {
        animation-delay: -0.4s;
    }
    
    @keyframes animate {
        0% {
            opacity: 0;
        }
    
        50% {
            opacity: 1;
            transform: rotate(45deg) translate(10px, 10px);
        }
    
        100% {
            opacity: 0;
        }
    }
}

/* FLOATING IMAGE */ 
@keyframes float {
	0% {
		transform: translatey(0px);
	}
	50% {
		transform: translatey(-20px);
	}
	100% {
		transform: translatey(0px);
	}
}

.avatar {
    position: relative;
    left: 0;
	box-sizing: border-box;
	overflow: hidden;
	transform: translatey(0px);
	animation: float 6s ease-in-out infinite;

	img { 
        width: 100%; height: auto; 
    }
}

/* SCROLL ANIMATIONS */ 
// REVEAL ANIMATION 
.inline-photo-right {
    opacity: 0;
    transform: translate(20px, 0);
    transition: transform 2s,
                opacity .3s .25s ease-out;
    width: 100%;
    will-change: transform, opacity;
}

.inline-photo-right.is-visible {
    opacity: 1;
    transform: translate(0, 0);
}
.inline-photo-left {
    opacity: 0;
    transform: translate(-20px, 0);
    transition: transform 2s,
                opacity .3s .25s ease-out;
    width: 100%;
    will-change: transform, opacity;
}

.inline-photo-left.is-visible {
    opacity: 1;
    transform: translate(0, 0);
}

.inline-photo-center {
    opacity: 0;
    transform: scale(.8);
    transition: transform 2s,
                opacity .3s .25s ease-out;
    width: 100%;
    will-change: transform, opacity;
}

.inline-photo-center.is-visible {
    opacity: 1;
    transform: scale(1);
}

.inline-photo-above {
    opacity: 0;
    transform: translate(0, 20px);
    transition: transform 2s,
                opacity .3s .25s ease-out;
    width: 100%;
    will-change: transform, opacity;
    transition: all 1s ease-out;
}

.inline-photo-above.is-visible {
    opacity: 1;
    transform: translate(0, 0);
}

.inline-photo-above-p {
    opacity: 0;
    transform: translate(0, 20px);
    transition: transform 2s,
                opacity .3s .25s ease-out;
    width: 100%;
    will-change: transform, opacity;
    transition: all 1s ease-out;
}

.inline-photo-above-p.is-visible {
    opacity: 1;
    transform: translate(0, 0);
    transition-delay: .8s;
}

.inline-photo-below {
    opacity: 0;
    transform: translate(0, -20px);
    transition: transform 2s,
                opacity .3s .25s ease-out;
    width: 100%;
    will-change: transform, opacity;
    transition: all 1s ease-out;
}

.inline-photo-below.is-visible {
    opacity: 1;
    transform: translate(0, 0);
}

.inline-photo-above2 {
    opacity: 0;
    transform: translate(0, -50px);
    transition: transform 2s,
                opacity .3s .25s ease-out;
    width: 100%;
    will-change: transform, opacity;
}

.inline-photo-above2.is-visible {
    opacity: 1;
    transform: translate(0, 0);
}

/* IMAGE HOVER */ 
.img-hover {
    transform: scale(1);
    transition: ease-in-out .3s;

    img {
        border-radius: 1em;
    }

    &:hover {
        transform: scale(0.96);
        transition: ease-in-out .3s;
    }
}