/* BUTTONS */
.button {
    display: inline-block;
    background-color: transparent;
    border: 2px solid $color-green;
    color: $color-green;
    font-family: $font-family-sans;
    text-transform: uppercase;
    text-decoration: none;
    padding: .7em 1em;
    border-radius: 5px;
    margin: 1em .5em 1em 0;

    &:hover {
        border: 2px solid $color-green;
        color: $color-white;
        background-color: $color-green;
    }
}

