/* BUTTONS */
.button {
    display: inline-block;
    background-color: transparent;
    border: 2px solid $color-green;
    color: $color-green;
    font-family: $font-family-sans;
    text-transform: uppercase;
    text-decoration: none;
    padding: .7em 1em;
    border-radius: 5px;
    margin: 1em .5em 1em 0;

    &:hover {
        border: 2px solid $color-green;
        color: $color-white;
        background-color: $color-green;
    }
}

/* SERVICE */ 
.service-btn {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    padding: 0;
    max-width: 300px;
    list-style: none;

    li {
        border: 1px solid $color-green;
        background-color: $color-green;
        color: $color-gold;
        border-radius: 5em;
        margin: .2em;
        padding: .5em 1em;
        font-size: .8em;
    }
}

.service-btn2 {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    padding: 0;
    max-width: 170px;
    list-style: none;

    li {
        border: 1px solid $color-green;
        background-color: $color-green;
        color: $color-gold;
        border-radius: 5em;
        padding: .5em 1em;
        font-size: .8em;
    }
}

.service-btn2-long {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    padding: 0;
    max-width: 225px;
    list-style: none;

    li {
        border: 1px solid $color-green;
        background-color: $color-green;
        color: $color-gold;
        border-radius: 5em;
        padding: .5em 1em;
        font-size: .8em;
    }
}