/* RESET BODY */
body {
    margin: 0;
    background-color: $color-white;
}

/* CONTAINER */
.home-container {
    margin: 0 auto;
    width: auto;
}

.container {
    margin: 0 auto;
    max-width: 1400px;
    padding: 0 1em;
}

.proj-container {
    margin: 0 auto;
    max-width: 500px;
    padding: 0 1em;
}

.footer-container {
    margin: 0 auto;
    max-width: 1200px;
    padding: 0 1em;
}

.project-container {
    margin: 0 auto;
    max-width: 1400px;
    padding: 0 1em;
}

/* MEDIA QUEIRES */

/* RESPONSIVE TYPOGRAPHY */
// SMALL
body { font-size: 87.5%; }

@media (min-width: $breakpoint-small) {
    body { font-size: 100%; }
}

@media (min-width: $breakpoint-large) {
    body { font-size: 112.5%; }
}

/* MEDIA QUERIES FOR LARGE SCREENS*/ 
@media (min-width: $breakpoint-small) {
    /* HEADER */
    .site-header,
    .site-header-hero {
        .logo {
            margin-top: 0;
        }
    }

    /* HERO */
    .hero-home {
        .connect-button {
            justify-content: flex-start !important;
        }

        .scroll-down {
            display: grid;
            justify-content: center;
            align-items: center;
            $animation-delay: .1s;
            $arrow-size: 12px;
            
            .scroll-arrow {
                width: $arrow-size;
                height: $arrow-size;
                transform: rotate(45deg);
                border-right: 2px solid $color-green;
                border-bottom: 2px solid $color-green;
                animation: arrow-wave 1s infinite;
                animation-direction: alternate;
                @for $i from 1 through 3 {
                  &:nth-child(#{$i}) {
                    animation-delay: $animation-delay*$i;
                  }
                }
              }
              
              @keyframes arrow-wave {
                0% {opacity: 0;}
                50% {opacity: .5;}
                100% {opacity: 1;}
              }
        }
    }

    /* SITE MAIN */ 
    .site-main {
        .home-projsection {
            margin: 0;
            display: flex;
            margin: 0 150px;
        } 
    }

    .introduction {
        h1 {
            font-size: 3em !important;
        }
    }

    .staggered {
        padding-top: 15em !important;
    }

    /* SITE MAIN SECTION */ 
    section-p {
        padding: 0 !important;
    }

    /* OTHER PROJECTS */ 
    .other-projsection {
        margin: 0 !important;
        display: flex !important;
        margin: 0 300px !important;

        .other {
            max-width: 300px !important;
        }
    } 

    /* SITE FOOTER */ 
    .site-footer {
        height: 30vh !important;

        .container {
            display: flex !important;
            flex-direction: row !important;
            justify-content: space-between !important;
            width: 1400px;
            gap: 10%;


            .footer-logo {
                width: 300px !important;
            }
        }

        .site-nav {
            margin: 0 !important;

            .social-links {
                width: 300px !important;

                a {
                    font-size: 1em !important;
                }
            }
        }
        
        .reserved {
            height: 2vh;

            p {
                display: flex;
                justify-content: space-around;
                width: 200px;
                color: $color-copy-brown;
                font-size: .6em;
            }
        }
    }

    /* SERVICE */ 
    .service-btn {
        max-width: 350px !important;
    }

    .service-btn2 {
        max-width: 195px !important;
    }

    .service-btn2-long {
        max-width: 270px !important;
    }


}