/* RESET BODY */
body {
    margin: 0;
}

/* CONTAINER */
.home-container {
    margin: 0 auto;
    width: auto;
}

.container {
    margin: 0 auto;
    max-width: 1400px;
    padding: 0 1em;
}

.project-container {
    margin: 0 auto;
    max-width: 1400px;
    padding: 0 1em;
}

/* MEDIA QUEIRES */

/* RESPONSIVE TYPOGRAPHY */
// SMALL
body { font-size: 87.5%; }

@media (min-width: $breakpoint-small) {
    body { font-size: 100%; }
}

@media (min-width: $breakpoint-large) {
    body { font-size: 112.5%; }
}

/* MEDIA QUERIES FOR LARGE SCREENS*/ 
@media (min-width: $breakpoint-small) {
    // HEADER
    .site-header,
    .site-header-hero {
        .logo {
            margin-top: 0;
        }
    }

    // HERO
    .hero-home {
        .connect-button {
            justify-content: flex-start !important;
        }

        .scroll-down {
            display: grid;
            justify-content: center;
            align-items: center;
            $animation-delay: .1s;
            $arrow-size: 12px;
            
            .scroll-arrow {
                width: $arrow-size;
                height: $arrow-size;
                transform: rotate(45deg);
                border-right: 2px solid $color-green;
                border-bottom: 2px solid $color-green;
                animation: arrow-wave 1s infinite;
                animation-direction: alternate;
                @for $i from 1 through 3 {
                  &:nth-child(#{$i}) {
                    animation-delay: $animation-delay*$i;
                  }
                }
              }
              
              @keyframes arrow-wave {
                0% {opacity: 0;}
                50% {opacity: .5;}
                100% {opacity: 1;}
              }
        }
    }

    /* SITE FOOTER */ 
    .site-footer {
        height: 7.5vh !important;

        .site-nav {
            .social-links {
                margin: .71em 0 !important;
            }
        }
        .reserved {
            padding: .6em !important;
            font-size: .8em !important;
        }

        .CTA {
            margin: .3em 0 !important;
    
            li {
                list-style: none;
    
                a {
                    margin: 0 1em 0 0;
                    text-decoration: none;
                    color: $color-gold;
                    letter-spacing: .1em;
                    font-size: .69em;
                    font-weight: 700;
                    text-transform: uppercase;
                    
    
                    &:hover {
                        color: $color-brown;
                    }
                }
            }
        }
    }
}