/* RESET BODY */
body {
    margin: 0;
}

/* CONTAINER */
.home-container {
    margin: 0 auto;
    width: auto;
}

.container {
    margin: 0 auto;
    max-width: 1000px;
    padding: 0 1em;
}

/* MEDIA QUEIRES */

/* RESPONSIVE TYPOGRAPHY */
// SMALL
body { font-size: 87.5%; }

@media (min-width: $breakpoint-small) {
    body { font-size: 100%; }
}

@media (min-width: $breakpoint-large) {
    body { font-size: 112.5%; }
}

/* MEDIA QUERIES FOR LARGE SCREENS*/ 
@media (min-width: $breakpoint-small) {
    // HEADER
    .site-header,
    .site-header-hero {
        .logo {
            margin-top: 0;
        }
    }

    // HERO
    .hero {
        h1 {
            font-size: 4em;
        }

        h4 {
            font-size: 1.3em;
        }

        .hero-title {
            svg {
                height: 200px !important;
                width: 200px !important;
            }
        }
    }

    /* SITE FOOTER */ 
    .site-footer {
        height: 7.5vh;

        .site-nav {
            .social-links {
                margin: .71em 0 !important;
            }
        }

        .CTA {
            margin: .3em 0 !important;
    
            li {
                list-style: none;
    
                a {
                    margin: 0 1em 0 1em;
                    text-decoration: none;
                    color: $color-white;
                    letter-spacing: .1em;
                    font-size: .69em;
                    font-weight: 700;
                    text-transform: uppercase;
    
                    &:hover {
                        color: $color-dark-brown;
                    }
                }
    
            }
        }
    }
}