/* SITE STRUCUTURE */ 
.site-header,
.site-header-hero {
    position: absolute;
    width: 100%;
    padding: 1em;
    display: flex;
    justify-content: space-between;
    align-items: center;
    
    a {
        color: $color-gold;
        text-decoration: none;
    }

    h1 {
        font-size: 1.5em;
        margin: 0;
    }

    .site-id {
        display: flex;
        justify-content: center;
    }

    .logo {
        max-width: 200px;
        margin-top: .2em;
        margin-right: .5em;
        transition: transform .2s ease-in-out;

        &:hover {
            transform: scale(1.1);
            transition: transform .2s ease-in-out;
        }
    }
}

/* HERO SECTION */
.hero {
    background-color: $color-white;
    color: $color-black;
    text-align: center;
    padding: 6em 0;
    min-height: 100vh;
    display: grid;
    place-items: center;

    h1 {
        color: $color-black;
        margin-bottom: .25em;
    }

    p {
        margin: 1em auto;
    }

    .hero-title {
        svg {
            height: 500px;
            width: 500px;
        }
    }

    .home-container-amber {
        background-image: url('/img/AmberAyre_Hero.jpg');
        background-position: center;
        background-size: cover;
    }
}



.project-section {
    top: 0;
    background-image: url('/img/AmberAyre/AmberAyre_Hero.svg');
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

.project-hero-bg {
    .project-hero,
    .project-subhero {
        display: flex;
        justify-content: center;
    }
}

.proj-scroll-down {
    position: absolute;
    left: 50%;
    display: grid;
    justify-content: center;
    align-items: center;
    $animation-delay: .1s;
    $arrow-size: 12px;
    
    .scroll-arrow {
        width: $arrow-size;
        height: $arrow-size;
        transform: rotate(45deg);
        border-right: 2px solid $color-green;
        border-bottom: 2px solid $color-green;
        animation: arrow-wave 1s infinite;
        animation-direction: alternate;
        @for $i from 1 through 3 {
          &:nth-child(#{$i}) {
            animation-delay: $animation-delay*$i;
          }
        }
      }
      
      @keyframes arrow-wave {
        0% {opacity: 0;}
        50% {opacity: .5;}
        100% {opacity: 1;}
      }
}

/* SITE MAIN */ 
.site-main {
    background-color: $color-white;


    .hero-home {
        margin: 0 1em 0 1em;
        padding: 1em 0;

        .row {
            margin-bottom: 0;
        }

        .character {
            margin-top: 3em;
        }
        
        .introduction {
            margin-bottom: 2em;

            h1 {
                font-size: 2em;
            }
        }

        .connect-button {
            display: flex;
            justify-content: center;
        }

    }
}

/* RESUME PAGE */ 
.resume-info {
    margin: 4em 0 2em 0;

    .connect-button {
        margin-bottom: 2em;
        display: flex;
        justify-content: center;
    }

    .resume {
        img {
            box-shadow: 0px 0px 10px $color-black;
        }
    }
}

/* PROJECT INFORMATION */ 
.project-container {

    .proj-info {
        margin: 4em 0 2em 0;
    }
    
    hr {
        margin: 2em 0 1em 0;
        width: 20px;
    }
    
    .project-stats {
        margin: 0;
        
        .status {
            display: flex;

            h6 {
                margin-right: 1em;
                opacity: 0.5;
                text-transform: uppercase;
                font-size: .75em;
            }
        }
    }
}

.process {
    .discovery_phase {
        display: inline-block;
        justify-content: center;
        max-width: 900px;

        .discovery_info {
            max-width: 500px;
            margin: 1em;
        }

        .discovery_img {
            max-width: 500px;
            margin: 1em;
        }
    }

    .ideation_phase {
        display: flex;
        justify-content: space-between;
        margin: 4em 0;

        .ideation_info {
            max-width: 600px;

        }
        
        .ideation_img {
            max-width: 550px;

            img {
                vertical-align: middle;
            }
            
            /* Slideshow container */
            .slideshow-container {
                width: 550px;
                position: relative;
                margin: auto;
            }
            
            /* Next & previous buttons */
            .prev, .next {
                cursor: pointer;
                position: absolute;
                top: 50%;
                width: auto;
                padding: 16px;
                margin-top: -22px;
                color: $color-green;
                font-weight: bold;
                font-size: 18px;
                transition: 0.6s ease;
                border-radius: 0 3px 3px 0;
                user-select: none;
            }
            
            /* Position the "next button" to the right */
            .next {
                right: 0;
                border-radius: 3px 0 0 3px;
            }
            
            /* On hover, add a black background color with a little bit see-through */
            .prev:hover, .next:hover {
                background-color: $color-green;
            }
            
            /* Number text (1/3 etc) */
            .numbertext {
                color: $color-black;
                font-size: 12px;
                padding: 8px 12px;
                position: absolute;
                top: 0;
            }
            
            /* The dots/bullets/indicators */
            .dot {
                cursor: pointer;
                height: 15px;
                width: 15px;
                margin: 0 2px;
                background-color: $color-green;
                border-radius: 50%;
                display: inline-block;
                transition: background-color 0.6s ease;
            }
            
            .active, .dot:hover {
                background-color: $color-brown;
            }
            
            /* Fading animation */
            .fade {
                animation-name: fade;
                animation-duration: 1.5s;
            }
            
            @keyframes fade {
                from {opacity: .4} 
                to {opacity: 1}
            }
            
            img {
                max-width: 1000px;
            }
        }
    }
}

/* OTHER PROJECTS */ 
.other-projsection {

    .other {
        margin: 2em 0;
        max-width: 250px;

        h3 {
            font-size: 1.2em;
        }
    }
} 


.staggered {
    padding-top: 4em;
    margin-bottom: 4em;
}

.summary {
    display: flex;
    justify-content: center;
    text-align: center;
    background-color: $color-green;
    height: 50vh;

    .summary-container {
        h1 {
            color: $color-gold;
        }
    
        p {
            color: $color-gold;
            margin: 1em;
        }
    }
}

/* PROJECT FOOTER NAV */ 
.CTA {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 5vh;
    padding: 0;
    padding: 1em 0;

    li {
        font-family: $font-family-sans;
        list-style: none;

        a {
            padding: 0 3em 0 3em;
            text-decoration: none;
            color: $color-black;
            letter-spacing: .1em;
            font-size: .69em;
            font-weight: 700;
            text-transform: uppercase;

            &:hover {
                color: $color-brown;
            }
        }

    }
}

/* SITE FOOTER */ 
.site-footer {
    background-color: $color-brown;
    display: flex;
    padding: 1em;
    height: 50vh;

    .container {
        display: grid;
        justify-content: center;
        align-items: center;
        padding: 2em 0;
    }

    .footer-logo {
        text-align: center;

        img {
            height: 110px;
        }

        h3 {
            color: $color-white;
            margin: .5em 0 0 0;
        }

        h5 {
            color: $color-white;
        }
    }

    .site-nav {
        margin: 4em 0 2em 0;

        h5 {
            display: flex;
            justify-content: center;
            text-align: center;
            color: $color-white;
        }

        .social-links {
            display: flex;
            justify-content: center;
            margin: 0;
            height: 40px;

            a {
                color: $color-white;
                font-size: 1.4em;;
                text-decoration: none;
                height: 40px;
        
                &:hover {
                    color: $color-gold;
                }
            }
        }
    }
    
    .reserved {
        display: flex;
        justify-content: center;
        margin-top: 5em;

        p {
            display: flex;
            justify-content: space-around;
            width: 200px;
            color: $color-copy-brown;
            font-size: .6em;
        }
    }
}

/* SECTIONS */ 
.work-section {
    h1 {
        font-size: 6em;
        position: absolute;
        top: 850px;
        right: -80px;
        transform: rotate(-90deg);  
          
    }

    hr {
        height: .8px;
        margin: 0;
    }
}

section-xs {
    padding: 1em 0;
    min-height: 2vh;
    display: grid;
    align-items: center;
}

section-s {
    padding: 4em 0;
    min-height: 40vh;
    display: grid;
    align-items: center;
}

section-m {
    padding: 4em 0;
    min-height: 80vh;
    display: grid;
    align-items: center;
}

section {
    padding: 4em 0;
    min-height: 90vh;
    display: grid;
    align-items: center;
}

section-p {
    padding: 2em 0;
    min-height: 90vh;
    display: grid;
    align-items: center;
}