/* SITE STRUCUTURE */ 
.site-header,
.site-header-hero {
    position: absolute;
    width: 100%;
    padding: 1em;
    display: flex;
    justify-content: space-between;
    align-items: center;
    
    a {
        color: $color-gold;
        text-decoration: none;
    }

    h1 {
        font-size: 1.5em;
        margin: 0;
    }

    .site-id {
        display: flex;
        justify-content: center;
    }

    .logo {
        max-width: 40px;
        margin-top: .2em;
        margin-right: .5em;
        transition: transform .2s ease-in-out;

        &:hover {
            transform: scale(1.1);
            transition: transform .2s ease-in-out;
        }
    }
}

/* HERO SECTION */
.hero {
    background-color: $color-white;
    color: $color-text-headings;
    text-align: center;
    padding: 6em 0;
    min-height: 100vh;
    display: grid;
    place-items: center;

    h1 {
        color: $color-text-headings;
        margin-bottom: .25em;
    }

    p {
        margin: 1em auto;
    }

    .hero-title {
        svg {
            height: 110px;
            width: 110px;
        }
    }
}

/* SITE MAIN */ 
.site-main {
    .home-container {
        scroll-snap-type: y mandatory;
        overflow-y: scroll;
        height: 92.5vh;
    }

    

    section-l {
        display: flex;
        justify-content: center;
        align-items: center;
        height: 92.5vh;
        scroll-snap-align: start;

        .proj-section {
            display: inline-block;
            justify-content: center;
            text-align: center;
        }
    }

    .hero {
        svg {
            margin-bottom: 2em;
        }
    }

    .proj01 {
        background-color: $color-gold;

        h1 {
            text-align: center;
            line-height: 1.3em;
            color: $color-dark-brown;
        }

        h4 {
            line-height: .2em;
            color: $color-dark-brown;
        }
    }

    .proj02 {
        background-color: $color-white;

        h1 {
            text-align: center;
            line-height: 1.3em;
            color: $color-dark-brown;
        }

        h4 {
            line-height: .2em;
        }
    }

    .proj03 {
        background-color: $color-gold;

        h1 {
            text-align: center;
            line-height: 1.3em;
            color: $color-dark-brown;
        }

        h4 {
            line-height: .2em;
        }
    }

    .proj04 {
        background-color: $color-white;

        h1 {
            text-align: center;
            line-height: 1.3em;
            color: $color-dark-brown;
        }

        h4 {
            line-height: .2em;
        }
    }

    .proj05 {
        background-color: $color-gold;

        h1 {
            text-align: center;
            line-height: 1.3em;
            color: $color-dark-brown;
        }

        h4 {
            line-height: .2em;
        }
    }

    .proj06 {
        background-color: $color-white;

        h1 {
            text-align: center;
            line-height: 1.3em;
            color: $color-dark-brown;
        }

        h4 {
            line-height: .2em;
        }
    }
}

/* SITE FOOTER */ 
.site-footer {
    background-color: $color-light-brown;
    display: flex;
    padding: 1em;
    justify-content: space-between;

    .site-nav {
        display: flex;
        height: 20px;

        .social-links {
            display: flex;
            justify-content: center;
            margin: 1.2em 0;
            height: 20px;

            a {
                color: $color-white;
                text-decoration: none;
                letter-spacing: .1em;
                padding: 0 .5em;
                height: 20px;
        
                &:hover {
                    color: $color-dark-brown;
                }
            }
        }
    }
        
    .CTA {
        display: flex;
        justify-content: center;

        li {
            list-style: none;

            a {
                margin: 0 1em 0 1em;
                text-decoration: none;
                color: $color-white;
                letter-spacing: .1em;
                font-size: .69em;
                font-weight: 700;
                text-transform: uppercase;

                &:hover {
                    color: $color-dark-brown;
                }
            }

        }
    }
}

section {
    padding: 4em 0;
    min-height: 100vh;
    display: grid;
    align-items: center;
}