/* SITE STRUCUTURE */ 
.site-header,
.site-header-hero {
    position: absolute;
    width: 100%;
    padding: 1em;
    display: flex;
    justify-content: space-between;
    align-items: center;
    
    a {
        color: $color-gold;
        text-decoration: none;
    }

    h1 {
        font-size: 1.5em;
        margin: 0;
    }

    .site-id {
        display: flex;
        justify-content: center;
    }

    .logo {
        max-width: 200px;
        margin-top: .2em;
        margin-right: .5em;
        transition: transform .2s ease-in-out;

        &:hover {
            transform: scale(1.1);
            transition: transform .2s ease-in-out;
        }
    }
}

.section_border {
    margin: 2em 0;
}

/* HERO SECTION */
.hero {
    // background-color: $color-white;
    color: $color-black;
    text-align: center;
    padding: 6em 0;
    min-height: 100vh;
    display: grid;
    place-items: center;

    h1 {
        color: $color-black;
        margin-bottom: .25em;
    }

    p {
        margin: 1em auto;
    }

    .hero-title {
        svg {
            height: 500px;
            width: 500px;
        }
    }

    .home-container-amber {
        background-image: url('/img/AmberAyre_Hero.jpg');
        background-position: center;
        background-size: cover;
    }
}

.project-hero-bg {
    .project-hero,
    .project-subhero {
        display: flex;
        justify-content: center;
    }
}

.proj-scroll-down {
    position: absolute;
    left: 50%;
    top: 80%;
    display: grid;
    justify-content: center;
    align-items: center;
    $animation-delay: .1s;
    $arrow-size: 12px;
    
    .scroll-arrow {
        width: $arrow-size;
        height: $arrow-size;
        transform: rotate(45deg);
        border-right: 2px solid $color-green;
        border-bottom: 2px solid $color-green;
        animation: arrow-wave 1s infinite;
        animation-direction: alternate;
        @for $i from 1 through 3 {
          &:nth-child(#{$i}) {
            animation-delay: $animation-delay*$i;
          }
        }
      }
      
      @keyframes arrow-wave {
        0% {opacity: 0;}
        50% {opacity: .5;}
        100% {opacity: 1;}
      }
}

/* BACKGROUND COLOR */ 
.dark-bg {
    background-color: $color-darkblack;
    padding: 0;
}

.green-bg {
    background-color: $color-green;
}

/* SITE MAIN */ 
.site-main {
    background-image: url('/img/Filipino_Pattern_02.png');
    background-position: top;
    background-repeat: repeat;
    background-size: cover;
    background-attachment: fixed;


    .hero-home {
        margin: 0 1em 0 1em;
        padding: 1em 0;

        .row {
            margin-bottom: 0;
        }

        .character {
            margin-top: 3em;
        }
        
        .introduction {
            margin-bottom: 2em;

            h1 {
                font-size: 2em;
            }
        }

        .connect-button {
            display: flex;
            justify-content: center;
        }

    }
}

/* RESUME PAGE */ 
.resume-info {
    margin: 4em 0 2em 0;

    .connect-button {
        margin-bottom: 2em;
        display: flex;
        justify-content: center;
    }

    .resume {
        img {
            box-shadow: 0px 0px 10px $color-black;
        }
    }
}

/* ABOUT ME PAGE */ 
.project-container {
    display: inline-block;
    justify-content: center;
    margin-top: 5em;

    .about_profile {
        display: flex;
        justify-content: center;
    }

    .about_info {
        display: grid;
        justify-content: center;
        width: 400px;

        .bio {
            margin-bottom: 2em;
        
            .sub-title {
                display: flex;
                justify-content: center;
            }
        
            .changing-text {
                display: flex;
                justify-content: center;
                height: 60px;
        
                .texts-container{
                    display: flex;
                    overflow: hidden;
                    height: 60px;
                    color: $color-green;
        
                    .roles {
                        margin: 0;
        
                        p {
                            display: flex;
                            justify-content: center;
                            animation: moveUp 8s infinite;
                            font-size: 3em;
                        }
        
                    }
                }
            }
            
            @keyframes moveUp{
                0% {
                    transform: translateY(-12%);
                }
             
                33% {
                    transform: translateY(-140%);
                }
            
                66% {
                    transform: translateY(-280%);
                }
            
                100% {
                    transform: translateY(-12%);
                }
            }
        
            .bio-p {
                display: flex;
                justify-content: center;
                margin: .1em 0;
                font-size: 3em;
                color: $color-black;
            }
        
            .bio-p-location {
                display: flex;
                justify-content: center;
                margin: .5em 0;
                font-size: 1em;
                color: $color-black;
            }
        }
        
        .contactme {
            display: flex;
            justify-content: center;
        
            .connect-button {
                justify-content: flex-start;
                cursor: pointer;
        
                .button {
                    margin: .5em;
                }
            }
        }
    }
}

/* PROJECT INFORMATION */ 
.about-green-bg {
    display: flex;
    background-color: $color-green;

    .section_border {
        width: 100%;
        position: absolute;
        top: 88.15vh;
        margin: 0 auto;
        text-align: center;
        display: grid;
    }

    .Brand_Pattern_01 {
        margin: 0 2em 0 0;
        width: 20%;
        height: 200vh;
        background: url('/img/Patterns/Pattern_02.2.svg');
        background-position: center;
        background-size: cover;
    }

    .Currents {
        margin: 2em;
        display: inline-block;
        justify-content: center;
        text-align: left;
        width: 60%;
        height: 195vh;

        h6 {
            color: $color-gold;
        }

        .img-favorites {
            h3 {
                color: $color-white;
            }

            .row {
                .one-third {
                    .container {
                        position: relative;
                        width: 100%;
                    }

                    .fav-song {
                        margin-top: 3em;
                    }
                      
                    .fav-image-card {
                        opacity: 1;
                        display: block;
                        width: 100%;
                        height: auto;
                        transition: .5s ease;
                        backface-visibility: hidden;
                    }
                      
                    .fav-info {
                        background-color: $color-brown;
                        transition: .5s ease;
                        opacity: 0;
                        position: absolute;
                        top: 50%;
                        left: 50%;
                        transform: translate(-50%, -50%);
                        text-align: center;

                        h3 {
                            margin: 0;
                            text-align: center;
                            padding: 1em;
                            color: $color-white;
                            font-size: .8em;
                        }
                
                    }
                      
                    .container:hover .fav-image-card {
                        opacity: 0.8;
                        transform: scale(1.01)
                    }
                      
                    .container:hover .fav-info {
                        opacity: 1;
                    }
                    // .fav-info {
                    //     display: none;
                    // }
                        
                    // .fav-img-card:hover + .fav-info {
                    //     display: block;
                    //     color: $color-white;
                    // }
                }
            }
        }
    }
}

.black-bg {
    background-color: $color-darkblack;

    .section_border {
        width: 100%;
        position: relative;
        top: -73.5px;
        margin: 0 auto;
        text-align: center;
        display: grid;
    }

    .home-proj-title {
        h1 {
            color: $color-gold;
            font-size: 4em;
            text-align: center;
        }
    }

    .project-container {
        background-color: $color-black;

        .proj-info {
            width: 500px;
            margin: 4em 0 2em 0;
        }
        
        hr {
            margin: 2em 0 1em 0;
            width: 20px;
        }
        
        .project-stats {
            margin: 0;
            
            .status {
                display: flex;

                h6 {
                    margin-right: 1em;
                    opacity: 0.5;
                    text-transform: uppercase;
                    font-size: .75em;
                }
            }
        }
    }
}

.aa_pattern_bg {
    position: relative;
    background-image: url('/img/AmberAyre/AA_Section.svg');
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;

    &::before {
        content:""; 
        position: absolute; 
        top: 0;
        left: 0;
        right: 0;
        background: linear-gradient(to top, rgba(241, 240, 243, 0) 0%, rgba(241, 240, 243, 1) 100%);
        height: 2%;  
    }

    &::after {
        content:""; 
        position: absolute; 
        bottom: 0;
        left: 0;
        right: 0;
        background: linear-gradient(to bottom, rgba(241, 240, 243, 0) 0%, rgba(241, 240, 243, 1) 100%);
        height: 2%;  
    }

    .mobile_app {
        background-color: $color-green;
        padding: 4em;
        width: 100%;
        border-radius: 10px;
        margin-bottom: 2em;

        .ma_lg_title {

            h2 {
                color: $color-gold;
            }
        }

        .ma_title {

            h4 {
                color: $color-gold;
            }
        }

        .ma_info {

            p {
                color: $color-white;
            }
        }
    }

    .ma_process {
        width: 98.6%;
        margin: 0;

        .ma_lg_title {

            h2 {
                color: $color-black;
            }
        }

        .ma_title {

            h4 {
                color: $color-black;
            }
        }

        .ma_info {

            p {
                color: $color-black;
            }
        }

        img {
            border-radius: 10px;
        }
    }
    
    .ma_final {
        img {
            border-radius: 10px;
        }
    }

}

.schematic_process {
    display: grid;
    justify-content: center;
    align-items: center;

    .sp {
        margin-bottom: 2em;

        .sp_lg_title {
            h2 {
                color: $color-black;
            }
        }
    
        .sp_title {
            h4 {
                color: $color-black;
            }
        }
    
        .sp_info {
            color: $color-black;
        }
    }

    .sp_img {
        margin: 4em;
    }
}

.challenge-solution {
    max-width: 500px;
    border: 1px solid $color-brown;
    padding-top: 8em;

    .row {
        .one-half {
            .cs {
                margin: 0 4em;
                height: 20vh;
                max-width: 500px;
            }
        }
    }

    .cs_title {
        top: 0%;
    }

    .cs_info {

    }
}

.vl {
    border-left: 3px solid $color-green;
    height: 0;
    opacity: 0;
}

.brand_assets {
    max-width: 1400px;
}

.ba {
    position: relative;
    top: -100px;
    left: 0;
    width: 70%;
    background-color: $color-green;
    padding: 4em;
    border-radius: 10px;

    .ba_lg_title {
        h2 {
            color: $color-gold;
        }
    }

    .ba_title {
        h4 {
            color: $color-gold;
        }
    }

    .ba_info {
        color: $color-white;
    }
    
}

.ba_img {
    position: static;
    width: 100%;
    margin: 1em 0;
}


.logo_process {
    max-width: 1400px;
}

.lp {
    position: relative;
    top: -140px;
    left: 0;
    width: 70%;
    background-color: $color-green;
    padding: 4em;
    border-radius: 10px;

    .lp_lg_title {
        h2 {
            color: $color-gold;
        }
    }

    .lp_title {
        h4 {
            color: $color-gold;
        }
    }

    .lp_info {
        color: $color-white;
    }
    
}

/* FOR VIDEOS */ 
.lp_video {
    .lp_title {
        h4 {
            color: $color-black;
        }
    }

    .lp_info {
        color: $color-black;
    }

    video {
        border-radius: 10px;
    }
    
}

.lp_img {
    position: static;
    width: 100%;
    margin: 1em 0;

    video {
        border-radius: 10px;
    }
}

.lp_video {
    position: static;
    width: 100%;
    margin: 1em 0;
}

.resolution  {
    background-color: $color-white;
    padding: 2em;
    border-radius: 10px;

    .resolution_info {
        margin-bottom: 3em;
    }

    .resolution_img {
        background-color: $color-white;

        img {
            width: 92%;
        }
    }
}

.process {
    margin: 4em 0 5em 0;
    .discovery_phase {
        display: inline-block;
        justify-content: center;
        max-width: 900px;

        .discovery_info {
            max-width: 500px;
            margin: 1em;
        }

        .discovery_img {
            max-width: 500px;
            margin: 1em;
        }

        .title {
            position: relative;
            top: 30%;
            left: 0;
            background-color: $color-green;
            padding: 4em;
            border-radius: 10px;

            h2 {
                color: $color-gold;
            }

            h4 {
                color: $color-gold;
            }

            p {
                color: $color-white;
            }
        }

        .title_video {
            position: relative;
            top: 0;
            width: 100%;
            left: 0;
            background-color: $color-green;
            padding: 4em;
            border-radius: 10px;

            h2 {
                color: $color-gold;
            }

            h4 {
                color: $color-gold;
            }

            p {
                color: $color-white;
            }
        }
    }
}

/* WE SOURCE PROJECT */ 
.ws_info_video {
    margin-bottom: 1em;
    display: flex;
    justify-content: center;

    .ws_video {
        iframe {
            width: 450px;
            height: 400px;
        }
    }
}

/* PODCASTS */ 
.podcast_title {
    margin-top: 2em;

    h2 {
        color: $color-gold;
        text-align: center;
    }
}

.podcast {
    margin: 0 2em;
    padding: 1em 1em 0 1em;

    .pod-refer {
        margin: 1em 0;

        .episode {
            margin: 0;
            padding: 0;
            position: relative;
            overflow: hidden;
            width: 100%;
            height: auto;
            border: 1px solid $color-darkblack;
            box-shadow: 0px 0px 10px 1px $color-darkblack;
        
            img {
                display: block;
                width: 100%;
                transition: transform .25s ease-in-out;
            }
        
            &:hover img {
                transition: transform .25s ease-in-out;
                transform: scale(1.1);
            }
        }

        .episode_info {
            h5 {
                color: $color-gold;
                margin-top: 1em;
                text-align: left;
            }

            .episode-desc {
                color: $color-white;
                margin: .5em 0;
                text-align: left;
            }
        }

    }   
}

/* OTHER PROJECTS */ 
.mw {
    display: inline-block;
    padding: 2em;
    border-radius: 10px;

    .mw_title {
        margin-bottom: 3em;
        display: flex;
        justify-content: center;
        align-items: center;

        h2 {
            color: $color-gold;
        }
    }

    .mw_links {
        display: inline-block;
        max-width: 1000px;

        .other {
            max-width: 500px;
            margin: 0 4em;

            h3 {
                color: $color-white;
            }

            .home-hr {
                margin: 1em 0 1.5em 0;
                background-color: $color-gold;
            }
        }
    }
}


.staggered {
    padding-top: 4em;
    margin-bottom: 4em;
}

.summary {
    display: flex;
    justify-content: center;
    text-align: center;
    background-color: $color-green;
    height: 50vh;

    .summary-container {
        h1 {
            color: $color-gold;
        }
    
        p {
            color: $color-gold;
            margin: 1em;
        }

    }
}

.sum_bg {
    background-color: $color-green;

    .sum {
        display: inline-block;
        justify-content: center;
        align-items: center;
        text-align: center;
        height: 40vh;

        .sum_current,
        .sum_history {
            margin: 1em 0;
        }

        h1 {
            color: $color-gold;
        }
    
        .sum_title {

            h4 {
                color: $color-gold;
            }
        }

        .sum_info {
            display: flex;
            justify-content: center;
            align-items: center;
            .sum_background_info {
                margin: 0;
                color: $color-white;
            }
        }  
    }
}

/* PROJECT FOOTER NAV */ 
.CTA {
    background-color: $color-white;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 5vh;
    padding: 0;
    padding: 1em 0;

    li {
        font-family: $font-family-sans;
        list-style: none;

        a {
            padding: 0 3em 0 3em;
            text-decoration: none;
            color: $color-black;
            letter-spacing: .1em;
            font-size: .69em;
            font-weight: 700;
            text-transform: uppercase;

            &:hover {
                color: $color-brown;
            }
        }

    }
}

/* SITE FOOTER */ 
.site-footer {
    background-color: $color-black;
    display: flex;
    padding: 1em;
    height: 50vh;

    .container {
        display: grid;
        justify-content: center;
        align-items: center;
        padding: 2em 0;
    }

    .footer-logo {
        align-items: center;
        text-align: center;

        img {
            height: 110px;
        }

        h3 {
            color: $color-white;
            margin: .5em 0 0 0;
        }

        h5 {
            color: $color-white;
        }

        .copyright-container {
            display: flex;
            justify-content: center;

            .copyright {
                text-align: center;
            }

        }
    }

    .site-nav {
        margin: 4em 0 2em 0;

        h5 {
            display: flex;
            justify-content: center;
            text-align: center;
            color: $color-white;
        }

        .social-links {
            display: flex;
            justify-content: center;
            margin: 0;
            height: 40px;

            a {
                color: $color-white;
                font-size: 1.4em;;
                text-decoration: none;
                height: 40px;
        
                &:hover {
                    color: $color-gold;
                }
            }
        }
    }
    
    .reserved {
        display: flex;
        justify-content: center;
        margin-top: 5em;

        p {
            display: flex;
            justify-content: space-around;
            width: 200px;
            color: $color-copy-brown;
            font-size: .6em;
        }
    }
}

/* SECTIONS */ 
.work-section {
    h1 {
        font-size: 6em;
        position: absolute;
        top: 850px;
        right: -80px;
        transform: rotate(-90deg);  
          
    }

    hr {
        height: .8px;
        margin: 0;
    }
}

section-xs {
    padding: 1em 0;
    min-height: 2vh;
    display: grid;
    align-items: center;
}

section-s {
    padding: 4em 0;
    min-height: 40vh;
    display: grid;
    align-items: center;
}

section-m {
    padding: 4em 0;
    min-height: 80vh;
    display: grid;
    align-items: center;
}

section {
    padding: 4em 0;
    min-height: 90vh;
    display: grid;
    align-items: center;
}

section-p {
    padding: 2em 0;
    min-height: 90vh;
    display: grid;
    align-items: center;
}

/* CAROUSEL */ 
%animation-default {
    opacity: 1 !important;
    z-index: 3;
  }
  
  @mixin carousel($items, $animation: 'default') {
    .carousel {
        margin-top: 2em;
        height: 300px;
        width: 100%;
        position: relative;
        overflow: hidden;
    
        > input[type="radio"] {
            position: absolute;
            left: 0;
            opacity: 0;
            top: 0;
  
        &:checked {
          ~ .carousel__items .carousel__item,
          ~ .carousel__prev > label,
          ~ .carousel__next > label {
            opacity: 0;
          }
        }
  
        @for $i from 1 through $items {
            &:nth-child(#{$i}) {
                &:checked {
                    ~ .carousel__items .carousel__item {
                        @if $animation == 'default' {
                            &:nth-child(#{$i}) {
                                opacity: 1;
                            }
                        }
                    }
    
                    ~ .carousel__prev {
                        > label {
                        @if $i == 1 {
                            &:nth-child(#{$items}) {
                            @extend %animation-default;
                            }
                        } @else if $i == $items {
                            &:nth-child(#{$items - 1}) {
                            @extend %animation-default;
                            }
                        } @else {
                            &:nth-child(#{$i - 1}) {
                            @extend %animation-default;
                            }
                        }
                        }
                    }
    
                    ~ .carousel__next {
                        > label {
                        @if $i == $items {
                            &:nth-child(1) {
                            @extend %animation-default;
                            }
                        } @else {
                            &:nth-child(#{$i + 1}) {
                            @extend %animation-default;
                            }
                        }
                        }
                    }
    
                    ~ .carousel__nav {
                        > label {
                        &:nth-child(#{$i}) {
                            background: $color-green;
                            cursor: default;
                            pointer-events: none;
                        }
                        }
                    }
                }
            }
        }
    }
  
      &__items {
        margin: 0;
        padding: 0;
        list-style-type: none;
        width: 100%;
        height: 550px;
        position: relative;
    }
  
      &__item {
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        z-index: 1;
        transition: opacity 1s;
  
        img {
          width: 100%;
          vertical-align: middle;
        }
    }
  
    &__prev,
    &__next {
    > label {
        cursor: pointer;
        display: block;
        width: 40px;
        height: 40px;
        position: absolute;
        top: 30%;
        transform: translateY(-50%);
        transition: all .3s ease;
        opacity: 0;
        z-index: 2;

        &:hover,
        &:focus {
            opacity: .5 !important;
        }

        &:before,
        &:after {
            content: "";
            position: absolute;
            width: inherit;
            height: inherit;
        }

        &:before {
            background: linear-gradient(to top, $color-green 0%, $color-green 10%, rgba(51, 51, 51, 0) 10%),
                        linear-gradient(to left, $color-green 0%, $color-green 10%, rgba(51, 51, 51, 0) 10%);
            width: 60%;
            height: 60%;
            top: 100%;
        }
    }
      }
  
      &__prev {
        > label {
            left: 2%;
  
            &:before {
                left: 35%;
                top: 100%;
                transform: rotate(135deg);
            }
        }
      }
  
      &__next {
        > label {
            right: 2%;
  
            &:before {
                left: 10%;
                transform: rotate(315deg);
            }
        }
      }
  
      &__nav {
        position: absolute;
        bottom: 20%;
        left: 0;
        text-align: center;
        width: 100%;
        z-index: 3;
  
            > label {
                border: 1px solid $color-green;
                display: inline-block;
                border-radius: 50%;
                cursor: pointer;
                margin: 0 .125%;
                width: 10px;
                height: 10px;
            }
        }
    }
}
      
*,
*:before,
*:after {
    box-sizing: border-box;
}
  
@include carousel(9);
/* HEADER */
.site-header,
.site-header-hero {
    .logo {
        margin-top: 0;
    }
}