/* SITE STRUCUTURE */ 
.site-header {
    position: absolute;
    width: 100%;
    padding: 1em;
    display: flex;
    justify-content: space-between;
    align-items: center;
    
    a {
        color: $color-gold;
        text-decoration: none;
    }

    h1 {
        font-size: 1.5em;
        margin: 0;
    }

    .site-id {
        display: flex;
        justify-content: center;
    }

    .logo {
        max-width: 40px;
        margin-right: .5em;
    }
}

/* SITE FOOTER */ 
.site-footer {
    background-color: black;
    display: flex;
    padding: 1em;
    justify-content: center;

    a {
        color: white;
        text-decoration: none;
    }
}

section {
    padding: 4em 0;
    min-height: 100vh;
    display: grid;
    align-items: center;
}

/* HERO SECTION */
.hero {
    background-color: $color-white;
    color: $color-text-headings;
    text-align: center;
    padding: 6em 0;
    min-height: 100vh;
    display: grid;
    place-items: center;

    h1 {
        color: $color-text-headings;
        margin-bottom: .25em;
    }

    p {
        margin: 1em auto;
    }
}